<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cv.edylsonf.classgram">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Classgram">
        <activity
            android:name=".presentation.ui.schedule.EventActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".presentation.ui.MainActivity"
            android:exported="false" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.MainActivity" />

        </activity>
        <activity
            android:name=".presentation.ui.login.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- ########################################################## -->
        <activity
            android:name=".presentation.ui.login.LoginActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/loginTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" /> <!-- ########################################################## -->
        <activity
            android:name=".presentation.ui.login.SignupActivity"
            android:exported="true"
            android:label="Create your account"
            android:parentActivityName=".presentation.ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.login.LoginActivity" />
        </activity> <!-- ########################################################## -->
        <activity
            android:name=".presentation.ui.login.ForgotPassActivity"
            android:exported="false"
            android:label="Reset your password"
            android:parentActivityName=".presentation.ui.login.LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.login.LoginActivity" />
        </activity> <!-- ########################################################## -->
        <activity
            android:name=".presentation.ui.MainActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="cv.edylsonf.classgram.STARTUP_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- ########################################################## -->
        <activity android:name=".presentation.ui.home.CameraActivity" /> <!-- ########################################################## -->
        <activity
            android:name=".presentation.ui.home.CreatePostActivity"
            android:exported="false"
            android:parentActivityName=".presentation.ui.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.MainActivity" />
        </activity> <!-- ########################################################## -->
        <activity
            android:name=".presentation.ui.profile.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".presentation.ui.chat.ChatActivity"
            android:exported="false"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.Classgram.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.MainActivity" />
        </activity> <!-- ########################################################## -->
        <!--
            <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsEnabled}" />
        -->
        <!-- ########################################################## -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="cv.edylsonf.classgram.util.initializers.StrictModeInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="cv.edylsonf.classgram.util.initializers.TimberInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>